@import '../../scss/custom.scss';

.blog-detail-component {
  .blog-post {
    .blog-author {
      max-width: 2rem;
      margin-right: 1rem;
      border-radius: 40%;
    }

    .image-single {
      text-align: center;
      margin-bottom: 1rem;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    .image-double {
      text-align: center;
      margin-bottom: 1rem;
      > :first-child {
        margin-bottom: 0.5rem;
      }
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }

  .blog-comments {
    ul {
      padding-left: 0;
      li {
        list-style: none;
        img {
          max-width: 4rem;
        }
      }
    }
  }
}
