@import '../../scss/custom.scss';

.navbar-component {
  min-height: 60px;
  .container-fluid {
    .navbar-brand {
      img {
        max-width: 150px;
        height: auto;
      }
    }
    .show {
      height: 100vh; //to check later if height will remain at 100vh
    }
  }
}
