@import '../../scss/custom.scss';

.testimonials-component {
  .swiper-slide {
    height: auto;
  }
  .card {
    .img-quote {
      width: 2rem;
    }
    .quoter-image {
      width: 3rem;
    }
  }
}
