@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';

// default colors
$primary: #476930;
$secondary: #86b049;
$light: #c4e1c5;

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'light': $light,
  'success': $success,
  'info': $info,
  'warning': $warning,
  'danger': $danger,
  'dark': $dark,
);

// custom colors
$lighter: #dff5ce;
$light-brown: #c8b88a;
$light-pink: #f1dddf;
$kashmir-blue: #525b88;
$lavander: #dee2fc;

$custom-colors: (
  'lighter': $lighter,
  'light-brown': $light-brown,
  'light-pink': $light-pink,
  'kashmir-blue': $kashmir-blue,
  'lavander': $lavander,
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

@import '../../node_modules/bootstrap/scss/bootstrap.scss';
